# Python compiled bits
*.pyc
*.pyo
PyGithub/

#PyDev stuff
*.project
*.pydevproject

#prototyping
*_prototype
config.py

#runtime creations
scriptLogs/

#misc
github_raw.csv
reregistration_responses.*
*_partial.csv
alreadyCreated
*.txt
*Pairs.csv
cse_100_fa13_roster.csv
stragglers

#ignore compressed files
*.zip
*.tar
*tar.gz
