# Python compiled bits
*.pyc
*.pyo
PyGithub/

#PyDev stuff
*.project
*.pydevproject

#prototyping
*_prototype
config.py

#Ignore directories
**/

#misc
*.txt
*.csv

#ignore compressed files
*.zip
*.tar
*tar.gz

#ignore nfs mounting errors
*nfs*

#ignore swp files
*.swp
*.swo
